 /* selector */
        #aa {
            color: red;
            text-align: center;
        }

        #bb {
            color: #288cbb;
            text-align: center;
        }

        #cc {
            color: rgb(141, 185, 135);
            text-align: center;
        }

        #dd {
            color: #74a;
            text-align: center;
        }

        #ee {
            text-align: center;
        }